*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: 20px;
    background-color: rgb(50, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(103, 139, 228);
    padding: 15px ;
}
button{
    padding:10px 20px ;
    color: white;
    background-color: rgb(103, 139, 228);
    border: none;
    border-radius:5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}