
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 15px 30px;
    background-color:crimson;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    position: relative;
    z-index: 4;
}
button:active{
    scale: 0.95;
}
h1{
    white-space: nowrap;
}