*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    height: 100%;
    width: 100%;
    background:linear-gradient(rgb(241, 1, 153), rgb(158, 56, 9));
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}
.card1{
    width: 350px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.304);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    flex-shrink: 0;
    
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}
h3{
    font-size: 30px;
    font-style: italic;
}
button{
     background-color: rgb(221, 13, 13);
    color:rgb(228, 232, 233) ;
    font-size: 20px;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
   
}
p{
    text-align: center;
    font-size: 18px;

}
button:hover{
    background-color: rgb(13, 1, 1);
    color:rgb(228, 232, 233) ;
    border-radius: 12px;
}