*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

:root{
    --x: 500px;
    --y: 500px;
}

.main{
    width:100%;
    height: 100%;
    overflow: hidden;  
    position: relative;
}   

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(200px at var(--x) var(--y),transparent, rgba(0,0,0,0.9));
}
