*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);

}
.piano{
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 50px 10px 10px 10px;
    border-radius: 15px;  
}
.key{
    position: relative;
}
.whitekeys{
    width: 60px;
    height: 270px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.15s ease, background-color 0.15s ease;

}
.blackey{
    position: absolute;
    width: 40px;
    height: 150px;
    background-color: black;
    border-radius: 5px;
    top:0;
    right: -20px;
    z-index:2;
    transition: transform 0.15s ease, background-color 0.15s ease;
}
.whitekeys,
.blackey{
    display: flex;
    align-items: flex-end;   /* bottom */
    justify-content: center; /* center horizontally */
    padding-bottom: 10px;    /* little gap from bottom */
    font-weight: 600;
    font-size: 14px;
    color: #727171;
    text-transform: capitalize;
}

.whitekeys:active{
    transform: scale(.97);
    background-color: rgba(52, 181, 228, 0.863);
}
.blackey:active{
    transform: scale(.96);
     background-color: rgba(52, 181, 228, 0.974);
}
