*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
main{
    height: 100%;
    width: 100%;
    background:linear-gradient(to right bottom, rgb(41, 41, 41),rgb(65, 65, 65),black);
    padding: 20px;
    
}
section{
    height: 100%;
    width: 28vw;
    background-color: black;
    border-radius: 10px;
    margin: auto; 
}
.all-reels{
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
    display: none;
}
.reel{
    width: 100%;
    height: 100%;
    background-color: rgb(160, 78, 92);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.reel video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reel .bottom{
    width: 100%;
    padding: 25px 15px;
    background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.852));
    position: absolute;
    bottom: 0;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.bottom .user img{
    height:30px ;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom>h3{
    font-weight:500 ;
    font-size: 20px;
}
.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
}
.bottom .user button{
    background-color: transparent;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid white ;
    color: white;
}
.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    width: 40px;
    position: absolute;
    right: 0;
    /* transform: translateX(100%); */
    bottom: 10%;
}
.right i{
    font-size:25px ;
    font-weight: 500;
}
.love{
    color: red;
}
.right h6{
    font-size:15px ;
    font-weight: 500;
}
.right h4{
    cursor: pointer;
}
.right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
}
.right>div h4{
    pointer-events: none;
}
.right>div h6{
    pointer-events: none;
}