* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: monospace;
}
 
body{
   display: flex;
   align-items: center;
   justify-content: center;
}
p{
    font-size: 3rem;
    color: rgb(13, 232, 13);
}